@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 31% 5%;
    --foreground: 0 0% 100%;
    --card: 210 31% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 210 31% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 360 81% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 193 54% 68%;
    --secondary-foreground: 210 31% 5%;
    --muted: 199 22% 39%;
    --muted-foreground: 215.4 16.3% 90%;
    --accent: 193 54% 68%;
    --accent-foreground: 210 31% 5%;
    --destructive: 357 73% 22%;
    --destructive-foreground: 0 0% 100%;
    --border: 199 22% 39%;
    --input: 199 22% 39%;
    --ring: 193 54% 68%;
    --radius: 0.5rem;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }

  input, textarea, select {
    @apply bg-white/20 text-white border-white/40 placeholder:text-white/60;
  }

  button {
    @apply text-white bg-toolz-red hover:bg-toolz-darkred shadow-md transition-colors;
  }

  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

.gradient-primary {
  @apply bg-gradient-to-r from-toolz-red to-toolz-blue;
}

.gradient-secondary {
  @apply bg-gradient-to-r from-toolz-dark to-toolz-gray;
}